.user_incident_list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.user_incident {
    margin: auto;
    margin-top: auto;
    width: 300px;
    max-width: 600px;
    background-color: black;
    border-radius: 8px;
    padding: 9px 14px 51px 19px;
    margin-top: 10px;
}


.user_incident h3 {
    margin-top: 10px;
    width: max-content;
    margin-bottom: 10px;
    color: white;
}

.user_incident p {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    color: white;
}

.incident_list_btn_container {
    padding-top: 5px;
    float: right;
}

.user_incident_btn {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: #ef3381;
    cursor: pointer;
    color: white;
    font-size: 1.1em;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.user_incident_btn:first-of-type {
    margin-right: 10px;
}

/* .user_incident_list > .user_incident:first-child {
    margin-top: 20px;
} */
@media all and (min-width: 700px) {
    .user_incident_list {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .user_incident {
        margin-top: 20px;
        width: 600px;
    }
  }

