.filter-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    z-index: 1;
    margin-top: 10px;
}

.filter-container button {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 1em;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    transition: .3s;
    opacity: .8;
}

.filter-container button:hover {
    opacity: 1;
}

.Gender {
    background-color: #5a50e9;
    color: white;
    opacity: .9;
}

.Yours {
    background-color: black;
    color: white;
}

.All {
    background-color: #5a50e9;
    color: white;
}

.Race {
    background-color: #5a50e9;
    color: white;
}

.Sexual {
    background-color: #5a50e9;
    color: white;
}

.Physical {
    background-color: #5a50e9;
    color: white;
}

.Verbal {
    background-color: #5a50e9;
    color: white;
}

/* .btn:active, .btn:focus{
    outline: yellowgreen;
    border: 1px solid black;
} */


@media all and (min-width: 400px) {

    .filter-container {
        justify-content: space-between;
        margin-top: 10px;
    }

    .filter-container button {
        width: 90px;
        height: 40px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1em;
        font-weight: 700;
        font-family: 'Lato', sans-serif;
        transition: .3s;
        opacity: .8;
    }
  }

  @media all and (min-width: 1024px) {

    .filter-container {
        justify-content: space-between;
    }

    .filter-container button {
        width: 120px;
        height: 40px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1em;
        font-weight: 700;
        font-family: 'Lato', sans-serif;
        transition: .3s;
        opacity: .8;
    }
  }