
.landing-page {
    overflow: clip;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(72, 175, 115);
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test_user {
    position: absolute;
    right: 20px;
    top: 60px;
    text-align: right;
    font-size: 1.2rem;
}

.header_wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img_container img {
    width: 300px;
}

.header_container {
    margin-top: 50px;
    font-family: 'Anton', sans-serif;
}

.header_container h1 {
    float: left;
    font-size: 100px;
    line-height: 1.2em;
    font-weight: bold;
}

.container .arrow_down_btn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    margin: auto;
    right: 0px;
    bottom: 20px;
    left: 0px;
}

.arrow_down_btn .arrow_down {
    width: 40px;
    height: 40px;
}


.about {
    background-color: #5b55e0;
    display: flex;
    justify-content: center;
}

.center {
display: flex;
align-items: center;
justify-content: center;
}

.about_sub_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.about_content {
    line-height: 2.2em;
    margin: auto;
    min-width: 300px;
    max-width: 600px;
    padding: 9px 14px 51px 19px;
}

.about_content h3 {
    font-size: 32px;
    background-color: black;
    color: white;
    width: 100%;
}

.about_content p {
    background-color: black;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
    color: white;
    font-size: 1.2rem;
}

.landing_btn {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    background-color: #ef3381;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.phone img {
    width: 300px;
}


.community_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: flex-end;
    background-color: #f9cb55;
}

.community_content {
    text-align: center;
    margin-bottom: 140px;
    line-height: 2.2em;
}

.community_content h3 {
    font-size: 1.7rem;
}

.community_content p {
    font-size: 32px;
    font-size: 1.2rem;
    width: 330px;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}




.group_container img {
    width: 100%;
}


footer {
    padding: 1rem 0 .7rem;
    background-color: #1a1e2c;
    font-family: "montserrat-light", sans-serif;
    font-size: 15px;
    line-height: 2;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
}

.info {
display: flex;
justify-content: center;
}

.info p {
margin: 10px;
}

.info p a {
    color:rgba(255, 255, 255, 0.3);
}

.info a:hover {
    color: white !important;
}


.footer-bottom {
text-align: center;
font-size: 14px;
}

@media all and (min-width: 700px) {
    .img_container img {
        width: 400px;
        margin-right: 70px;
    }
    .container .arrow_down_btn {
        bottom: 40px;
    }
}

@media all and (min-width: 1024px) {
    .img_container img {
        width: 500px;
        margin-right: 100px;
    }
    .phone img {
        width: 400px;
    }
    .test_user {
        position: absolute;
        right: 30px;
        top: 80px;
    }
    .header_container h1 {
        margin-bottom: 90px;
    }
    
}

@media all and (min-width: 1240px) {
    .test_user {
        position: absolute;
        right: 30px;
        top: 100px;

    }
    
}