.signup-wrap {
    max-width: 250px;
    border-radius: 20px;
    margin: auto;
    background: rgba(0,0,0);
    box-sizing: border-box;
    padding: 25px;
    margin-top: 80px;
    color: #fff;
    margin-top: 100px;
  }
  
  .signup-form {
    overflow: clip;
  }
  
  .signup-wrap h2 {
    text-align: center;
  }
  
    
  #user-name, #email, #password {
    width:100%;
    padding: 12px;
    padding-left: 5px;
    padding-right: 5px;
    background: black;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .signup-wrap button {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #ef3381;
    opacity: 0.7;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    z-index: 10;
    cursor: pointer;
    transition: 300ms;
  }
  
  .signup-wrap button:hover {
    background-color: #f0106d;
  } 
  
  
  
  @media all and (min-width: 400px) {
  
    .signup-wrap {
      max-width: 350px;
      padding: 40px;
      margin-top: 170px;
    }
  
  }