/* .form_container {
    height: 33.33333%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} */
.form_container {
    background-color: #48af73;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    
}

.client_incident_container {
    min-height: 95vh;
    width: 100vw;
    background-color: #5b55e0;
    overflow: hidden;
}

.client_incident_container h2 {
    margin: auto;
    margin-top: 60px;
    background-color: black;
    color: white;
    font-size: 1.8rem;
    width: max-content;

}

.add_incident_button {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    background-color: #ef3381;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 700;
    font-family: 'Lato', sans-serif; 
}


.form_content {
    /* height: 33.33333%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 30vh;
}

/* input[type=text] {
    padding:10px;
    margin:10px 0;
  } */

.incident_dropdown_container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.incident_dropdown_container label {
    align-self: center;
}

.incident_dropdown {
    font-size: 15px;
    width: 130px;
    padding: 10px 7px 8px 8px;
    margin-left: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

  
.incident_dropdown .select select{
    /* background: transparent; */
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 0;
    width: 100%;
    position: relative;
    z-index: 10;
    font-size: 1em;
}


.description {
    min-width: 100px;
    min-height: 35px;
    max-height: 35px;
}

.drop_down {
    padding: 10px;
}
.location_btn {
    width: 200px;
    height: 35px;
    border-radius: 8px;
    background-color: #ef3381;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.address_container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 350px;
}

.address_container div {
    width: 33.33333%; 
    align-self: center;
}

.address_container div button {
    height: 35px;
    width: 100px;
    border-radius: 5px;
    background-color: #ef3381;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.address_container p {
    width: 66.66666%;
    align-self: center;
    align-content: center;
}

.form_btn_container {
    align-content: center;
}

.form_btn {
    width: 130px;
    height: 35px;
    border-radius: 8px;
    background-color: #ef3381;
    cursor: pointer;
    color: white;
    font-size: 1.1em;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.form_btn:not(:first-of-type) {
    margin-left: 10px;
}

@media all and (min-width: 700px) {
    .form_content {
        /* height: 33.33333%; */
        /* flex-direction: column;
        width: 600px; */
    }
    .form_content .column {
        /* height: 33.33333%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form_content div:not(:first-of-type) {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .description {
        max-height: 70px;
    }

    .complete_by {
        margin-left: 10px;
        border-radius: 4px;
        height: 30px;
    }
  }