/* .form_container {
    height: 33.33333%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} */
.form_container {
    background-color: darkslategray;
}

.client_incident_container {
    height: 95vh;
    width: 100vw;
    background-color: coral;
}