@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway&family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: #f9cb55;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}