

.marker_btn {
    background: none;
    border: none;
    cursor: pointer;
}

.marker_btn .incident_pin {
    width: 20px;
    height: 20px;
}

.form-window {
    z-index: 5;
    margin-top: 40px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapboxgl-popup-content {
    background-color: black !important;
    color: white;
}

.mapboxgl-popup-tip {
    border-top-color: black !important;
}

.mapboxgl-popup-close-button {
    color: white;
}

.mapboxgl-popup-content div {
    width: 250px;
}

.mapboxgl-popup-content h2, .mapboxgl-popup-content p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.mapboxgl-popup-content h2 {
    font-size: 1.7rem;
}

.mapboxgl-popup-content p {
    font-size: 1.2rem;
    width: 100%;
}



@media all and (min-width: 400px) {
    .form-window {
        z-index: 5;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
  
  @media all and (min-width: 700px) {
    .form-window {
        z-index: 5;
        margin-top: 50px;
        width: 92vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mapboxgl-popup-content div {
        width: 400px;
    }
  }

  @media all and (min-width: 1300px) {
    .form-window {
        z-index: 5;
        margin-top: 60px;
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }